*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: default;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #1f242d;
    --bg2-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --main2-color: #ff811a;
    --main3-color: #0ef;
}
body{
    min-height: 100vh;
    background: var(--bg-color);
    color: #fff;
}
.heading{
    text-align: center;
    padding-top: 1.5rem;
}
.heading hr{
    background: var(--main-color);
    border-radius: 5px;
    border: none;
}
.container{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
}
.comp{
    margin-top: -2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.user{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom: 7%;
    flex-direction: column;
    align-items: center;
}
.user div{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.elements{
    border-radius: 15px;
    border: 3px solid var(--main3-color);
    box-shadow: 0 0 .5rem var(--main3-color);
    width: 7rem;
    text-align: center;
    transition: .5s ease;
    overflow: hidden;
}
.elements:hover{
    box-shadow: 0 0 1rem var(--main3-color);
}
.elements.selected{
    border: 3px solid var(--main2-color);
    box-shadow: 0 0 1rem var(--main2-color);
}
.elements img{
    border-radius: 20px;
    width: 140%;
    margin-left: -20%;
    height: 100%;
}
.name{
    text-align: center;
    font-size: 2rem;
}

.score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notes{
    position: absolute;
    /* padding: 1rem; */
    bottom: 30%;
    font-size: 1.2rem;
    /* margin-top: -1.7rem; */
    text-align: center;
}
.notes button{
    color: var(--bg-color);
    font-size: 1.2rem;
    border: none;
    padding: .25rem 1rem;
    background: var(--main2-color);
    border-radius: 25px;
    transition: .5s ease;
}
.notes button:hover{
    box-shadow: 0 0 .5rem var(--main2-color);
}
.score{
    margin-top: -2rem;
    padding: 1rem;
    /* width: 100%; */
    text-align: center;
    border: 1px solid var(--main-color);
    box-shadow: 0 0 .5rem var(--main-color);
    border-radius: 25px;
}
.score h2{
    font-size: 2rem;
    padding-bottom: 5px;
}
.score div{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
.score div h4{
    font-size: 1.3rem;
}
@media (max-width: 769px) {
    .notes{
        font-size : 1.5rem;
    }
    .score{
        margin-top: -1rem;
    }
}

@media (max-width: 445px) {
    .heading hr{
        width: 75%;
    }
    .comp,
    .notes{
        margin: 0;
    }
    .user{
        bottom: 10%;
    }
}